.mid-page {
    position: absolute;
    top: 25%;
}

.center-text {
    text-align: center !important;
}

.form-label {
    text-align: right;
}

.form-border {
    border: 1px solid #ddd;
    border-radius: 10px;
}

#staff-calendar {
    margin-top: 20px;
}

#personal-calendar{
    margin-top: 20px;
    width: 50%;
}

#addCalendarEvent-button {
    text-align: right;
}

#addCalendarEvent-detailLabel {
    margin: 5px 0 15px 0;
}

#addPersonalNote-button{
    text-align: right;
}

#addEditTask-button {
    text-align: right;
    margin-top: 5px;
}

#addCheckupEvent-button {
    text-align: right;
}

.thumb {
    background-size: cover;
    height: 10vw;
    width: 10vw;
    margin: 10px;
}

.bordered {
    border: 1px solid #ddd;
    border-radius: 10px;
}

.patientlist-row {
    cursor: pointer;
}

.patientlist-container {
    margin: 20px;
}

#generalinfo {
    margin: 10px;
}

.general-thumb {
    background-size: cover;
    height: 13vw;
    width: 13vw;
    margin: 10px;
}

#todolist {
    margin: 10px;
}

.todo-entry {
    text-align: center;
    margin: 10px;
    padding: 10px;
}
