.navbar-default {
  background-color: #6b7ee4;
  border-color: #4960da;
}
.navbar-default .navbar-brand {
  color: #fdffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #d1e1ff;
}
.navbar-default .navbar-text {
  color: #fdffff;
}
.navbar-default .navbar-nav > li > a {
  color: #fdffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #d1e1ff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #d1e1ff;
  background-color: #4960da;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #d1e1ff;
  background-color: #4960da;
}
.navbar-default .navbar-toggle {
  border-color: #4960da;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #4960da;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fdffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fdffff;
}
.navbar-default .navbar-link {
  color: #fdffff;
}
.navbar-default .navbar-link:hover {
  color: #d1e1ff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fdffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d1e1ff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d1e1ff;
    background-color: #4960da;
  }
}
