body {
    background-color: #f4f3ff
}

#content {
    margin-top: 60px;
}

.mid-page {
    position: absolute;
    top: 25%;
}

.center-text {
    text-align: center !important;
}

.form-label {
    text-align: right;
}

.form-border {
    border: 1px solid #ddd;
    border-radius: 10px;
}

.nav-tabs {
    border: 2px #4960da;
}

.nav-tabs > li > a{
    background-color: #d6d6ff;
    margin: 0 5px 0 5px;
}

.nav-tabs > li > a:hover, .nav-tabs > li.active > a:hover{
    background-color: #A0C1D8 !important;
    border-color: #4960da !important;
    color:#fff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a.active{
    background-color: #6b7ee4 !important;
    border-color: #4960da !important;
    color:#fff;
}

#staff-calendar {
    margin-top: 20px;
}

#personal-calendar{
    margin-top: 20px;
    width: 50%;
}

#addCalendarEvent-button {
    text-align: right;
}

#addCalendarEvent-detailLabel {
    margin: 5px 0 15px 0;
}

#addPersonalNote-button{
    text-align: right;
}

#addEditTask-button {
    text-align: right;
    margin-top: 5px;
}

#addCheckupEvent-button {
    text-align: right;
}

#medicalButton {
    float:right;
    margin-right: 10px;
}

#patientListButton {
    margin-bottom: 10px;
}

.thumb {
    background-size: cover;
    height: 10vw;
    width: 10vw;
    margin: 10px;
}

.bordered {
    border: 1px solid #ddd;
    border-radius: 10px;
}

.patientlist-row {
    cursor: pointer;
}

.patientlist-container {
    margin: 20px;
}

#generalinfo {
    margin: 10px;
}

.general-thumb {
    background-size: cover;
    height: 13vw;
    width: 13vw;
    margin: 10px;
}

#todolist {
    margin: 10px;
}

.todo-entry {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.help-tip{
	position: absolute;
	top: 14px;
    right: 80px;
	text-align: center;
	background-color: #BCDBEA;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	font-size: 14px;
	line-height: 26px;
	cursor: default;
}

.help-tip:before{
	content:'?';
	font-weight: bold;
	color:#fff;
}

.help-tip:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{	/* The tooltip */
	display: none;
	text-align: left;
	background-color: #1E2021;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	right: -4px;
	color: #FFF;
	font-size: 13px;
	line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#1E2021;
	right:10px;
	top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
	0% { 
		opacity:0; 
		transform: scale(0.6);
	}

	100% {
		opacity:100%;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}