.mid-page {
    position: absolute;
    top: 25%;
}

.center-text {
    text-align: center;
}

.form-label {
    text-align: right;
}

.form-border {
    border: 1px solid #ddd;
    border-radius: 10px;
}

#staff-calendar {
    margin-top: 20px;
}

#addCalendarEvent-button {
    text-align: right;
}

#addCalendarEvent-detailLabel {
    margin: 5px 0 15px 0;
}
